PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/real_i
JWT_SECRET=reali_super_secret_jwt_key_minimum_32_characters_long_123456
JWT_ACCESS_SECRET=reali_super_secret_jwt_key_minimum_32_characters_long_123456
JWT_REFRESH_SECRET=reali_super_secret_refresh_jwt_key_minimum_32_characters_long_789012
JWT_EXPIRES_IN=15m
FRONTEND_URL=http://localhost:3001
NODE_ENV=development
